.vscode/**
.vscode-test/**
.claude/**
release/**
typings/**
fixtures/**
src/**
out/unsafe/test/**
out/**/*.map
out/**/*.d.ts
node_modules/**/*.ts
node_modules/**/*.map
node_modules/**/*.tsbuildinfo
node_modules/**/.eslintcache
node_modules/**/*.yml
node_modules/**/README.md
node_modules/**/CHANGELOG.md
node_modules/**/HISTORY.md
.editorconfig
.gitignore
.gitattributes
.npmrc
tsconfig.json
eslint.config.js
.eslintcache
package-lock.json
*.vsix
